<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 text-center">
      <div class="example-container">
        <div class="card" style="width: 40rem" align=center>
          <br>
          <h5 class="card-title">TU Perfil</h5>
          
          <br>
          <div class="text-center">
            <img mat-card-image src="{{imagePerson}}" alt="image person" style="width: 50%; height: 50%">

            <br>
            <div>
              <input class="text-center" *ngIf="openedImage" type="file" [formControl]="avatar" (change)="onFileChange($event)" #fileInput>
            </div>
          </div>

          <br>

          <div class="text-center" *ngIf="!openedImage">
            <button class="bot1" mat-raised-button (click)="openImageChooser()">Cambiar Foto</button>
          </div>

          <div class="text-center" *ngIf="openedImage">
            <button class="bot1" mat-raised-button color="primary" (click)="changeImagePerson()">Guardar Foto</button>
            <button class="bot2" mat-raised-button (click)="cancelImageAction()">Cancelar</button>
          </div>

          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombres" [formControl]="firstName" required>
            <mat-error *ngIf="firstName.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Apellidos" [formControl]="lastName" required>
            <mat-error *ngIf="lastName.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre de Usuario" [formControl]="username" required>
            <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <br>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Correo Electrónico" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <br>

          <div>
            <button class="bot1" mat-raised-button  (click)="updateProfile()" [disabled]="firstName.invalid || lastName.invalid || username.invalid || email.invalid">Actualizar Datos</button>
            <button class="bot2" mat-button routerLink="/home-page/">Cancelar</button>
          </div>
          <br>
        </div><br>
      </div>
    </div>
  </div>
</div>